.container {
  background: #eee;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  padding: 4px;
  box-sizing: border-box;
}

.item-content {
  width: 100%;
  height:100%;
  background: rgb(102, 96, 96);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  // display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}